.callout{padding:7px !important;}

label.error{color:#d2001b;font-size:12px;margin:0;text-decoration:none;}

.breadcrumb{margin-bottom:0px !important;}
.breadcrumb li.active{font-weight:bold !important;}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header{background-color:#d2d6de !important;min-height:152px !important;}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p{color:#333333 !important;}

.nav-tabs-custom{box-shadow:none !important;margin:auto 0 0;}
#tab-obs > div.form-control{height:175px;overflow-y:auto;}

.icon-desc, .icon-desc:hover{background-color:#3c8dbc !important;padding:2px 3px !important;text-decoration:none !important;}

.itm-bloq{color:#c14242 !important;text-decoration:line-through !important;}

#preloader{background:#000;height:100%;opacity:.9;width:100%;position:fixed; z-index:9999; display:none;}
#preloader img{left:50%;position:relative;top:40%;}

.prj-det-etapa-bg{background:#efefef !important;margin-bottom:20px !important;}
.prj-det-etapa{padding:2px 16px 16px !important;}

.chat{padding:5px 10px;}
.chat .item > .attachment-user{border-left:5px solid #f5bb03;}
.chat .item > .attachment-ti{border-left:5px solid #231d1f;}
.chat .item > .attachment{background:#e6e6e6 !important;margin:0 0 10px 56px;}
.chat .item > .attachment-user{border-top:1px solid #ffefbb; border-right:1px solid #ffefbb; border-bottom:1px solid #ffefbb; margin:0 0 10px 56px;padding:10px 5px;}
.chat .item > .attachment-ti{border-top:1px solid #d4d4d4; border-right:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; margin:0 0 10px 56px;padding:10px 5px;}

#cmtForm{padding:5px 0;}
#cmtForm .checkbox{margin:6px 0 0 0;}
.sbtRpdCmt, .sbtCmt{height:54px;}
textarea{resize:none !important;}
textarea[name=txtcomentario], textarea[name=txtresposta]{resize:none !important;}

.table{background:#ffffff !important;margin:0 !important;}
.table-responsive{overflow-y:-webkit-paged-x !important;}

.lista-arq ul{ padding:0 !important; }
.lista-arq ul li{ list-style:none !important; float:left !important; width:50% !important; line-height:22px !important; }

.sort-placeholder{ width:100%; border:1px dashed gray; margin:8px 0; }

select[readonly]{ background:#eee !important; pointer-events:none !important; touch-action:none !important; }

.no-display{ display:none; }

.dv-lista{height:23px;margin:1px 0;}

.GridCellDiv{text-align:unset !important;}
.GridviewScrollHeader th{text-overflow:ellipsis;} 
.GridviewScrollItem td{padding:5px;white-space:nowrap;text-overflow:ellipsis;} 
.GridviewScrollItemHover td{background-color:#d7d7d7;cursor:pointer;padding:5px;white-space:nowrap;text-overflow:ellipsis;}
.GridviewScrollItemSelected td{background-color:#d7d7d7;color:initial;padding:5px;white-space:nowrap;text-overflow:ellipsis;}

.table-orcam{margin:0 !important;border-collapse:collapse !important;width:99%}
.table-orcam td{padding:5px;white-space:nowrap;border-right:1px solid #AAA;border-bottom:1px solid #AAA;text-overflow:ellipsis !important;}
.table-orcam th{padding:5px;white-space:nowrap;border-right:1px solid #AAA;border-bottom:1px solid #AAA;text-overflow:ellipsis !important;}