<span style='color: #000' title='Frames'>   123</span><span style='color: #009' title='Memory'>  11776.00 KB</span><span style='color: #900' title='Time'>    187.51 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />