/* =================================================================== */
/* Flexslider
====================================================================== */
.slider {
	width: 100%;
	margin: 0 auto;
}
.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
	outline: none;
}
.slides, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* Necessary Styles
====================================*/
.flexslider {
	margin: 0;
	padding: 0;
}
/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	position: relative;
	zoom: 1;
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
.flexslider {
	position: relative;
	zoom: 1;
	z-index: 50;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
	display: block;
}
/* Default Styles */
.flexslider {
	background: #fff;
	zoom: 1;
}
.ie7 .flexslider {
	margin-bottom: -30px;
}
.flex-viewport {
	max-height: 2000px;
}
.loading .flex-viewport {
	max-height: 300px;
}
.flexslider .slides {
	zoom: 1;
}
/* Direction Nav */

.flex-direction-nav a {
	width: 35px;
	height: 35px;
	display: block;
	background-color: #000;
	bottom: 20px;
	right: 20px;
	float: none;
	position: absolute;
	cursor: pointer;
	text-indent: -9999px;
	background-color: #222;
	background: rgba(0, 0, 0, 0.65);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.flex-direction-nav .flex-next {
	background-image: url(../images/slider-control-right.png);
	background-repeat: no-repeat;
	background-position: 52% 50%;
}
.flex-direction-nav .flex-prev {
	margin-right: 36px;
	background-image: url(../images/slider-control-left.png);
	background-repeat: no-repeat;
	background-position: 48% 50%;
}
.flex-direction-nav .flex-prev:hover, .flex-direction-nav .flex-next:hover {
	background-color: #ff4f00;
	opacity: 1;
}
.subpage .flex-direction-nav a {
	bottom: 0px;
	right: 0px;
*bottom: 30px;
}
/* Control Nav */
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: -30px;
	text-align: center;
}
.flex-control-nav li {
	margin: 0 3px 0 0;
	display: inline-block;
	zoom: 1;
 *display: inline;
}
.flex-control-paging li a {
	width: 14px;
	height: 14px;
	display: block;
	background: #c8c8c8;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
}
.flex-control-paging li a:hover, .flex-control-paging li a.flex-active {
	background: #505050;
}
.flex-control-paging li a.flex-active {
	cursor: default;
}
/* */
/* */
.slide-caption {
	width:440px;
	padding: 22px;
	position: absolute;
	display: block;
	left:50%; margin-left:-480px;
	top:50%; margin-top:-90px;
	background:rgba(255,255,255,0.7);
	color:#333;
}
.slide-caption h3{font-size:34px; text-transform:none; font-weight:700;font-family: 'Titillium Web', sans-serif; margin-bottom:5px;}
.slide-caption p{font-size:16px; font-weight:700;font-family: 'Titillium Web', sans-serif;}


.ie-dropdown-fix {
	position: relative;
	z-index: 55;
}