.jcarousel-skin-rt .jcarousel-container { background: #fff; }
body.dark .jcarousel-skin-rt .jcarousel-container { background: transparent; border: 1px solid #272727; }
.jcarousel-skin-rt .jcarousel-direction-rtl {direction: rtl;}
.jcarousel-skin-rt .jcarousel-container-horizontal {padding: 0 20px;}
.jcarousel-skin-rt .jcarousel-clip {overflow: hidden;}
.jcarousel-skin-rt .jcarousel-clip-horizontal {}
.jcarousel-skin-rt .jcarousel-item img {display: block;}
.jcarousel-skin-rt .jcarousel-item-horizontal { margin-left: 0; margin-right: 20px; }
.jcarousel-skin-rt .jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
.jcarousel-skin-rt .jcarousel-item-vertical {margin-bottom: 10px;}
.jcarousel-skin-rt .jcarousel-item-placeholder { background: #fff; color: #000; }
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-rt .jcarousel-next-horizontal { position: absolute; top: 30px; right: 1px; width: 27px; height: 27px; cursor: pointer; background: url(../images/next-horizontal.png) no-repeat -81px 0; }
.jcarousel-skin-rt .jcarousel-direction-rtl .jcarousel-next-horizontal { left: 5px; right: auto; background-image: url(../images/prev-horizontal.png) 0 0; }
.jcarousel-skin-rt .jcarousel-next-horizontal:hover,
.jcarousel-skin-rt .jcarousel-next-horizontal:focus {background-position: -54px 0;}
.jcarousel-skin-rt .jcarousel-next-disabled-horizontal,
.jcarousel-skin-rt .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-rt .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-rt .jcarousel-next-disabled-horizontal:active { cursor: default; background-position: 0 0; }
.jcarousel-skin-rt .jcarousel-prev-horizontal { position: absolute; top: 30px; left: -10px; width: 27px; height: 27px; cursor: pointer; background: url(../images/prev-horizontal.png) no-repeat 0 0; }
.jcarousel-skin-rt .jcarousel-direction-rtl .jcarousel-prev-horizontal { left: auto; right: 5px; background-image: url(../images/next-horizontal.png); }
.jcarousel-skin-rt .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-rt .jcarousel-prev-horizontal:focus {background-position: -27px 0;}
.jcarousel-skin-rt .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-rt .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-rt .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-rt .jcarousel-prev-disabled-horizontal:active { cursor: default; background-position: -81px 0; }
/**
 *  Vertical Buttons
 */
.jcarousel-skin-rt .jcarousel-next-vertical { position: absolute; bottom: 5px; left: 43px; width: 32px; height: 32px; cursor: pointer; background: transparent url(../images/next-vertical.png) no-repeat 0 0; }
	.jcarousel-skin-rt .jcarousel-next-vertical:hover,
.jcarousel-skin-rt .jcarousel-next-vertical:focus {background-position: 0 -32px;}
	.jcarousel-skin-rt .jcarousel-next-vertical:active {background-position: 0 -64px;}
.jcarousel-skin-rt .jcarousel-next-disabled-vertical,
.jcarousel-skin-rt .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-rt .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-rt .jcarousel-next-disabled-vertical:active { cursor: default; background-position: 0 -96px; }
.jcarousel-skin-rt .jcarousel-prev-vertical { position: absolute; top: 5px; left: 43px; width: 32px; height: 32px; cursor: pointer; background: transparent url(../images/prev-vertical.png) no-repeat 0 0; }
	.jcarousel-skin-rt .jcarousel-prev-vertical:hover,
.jcarousel-skin-rt .jcarousel-prev-vertical:focus {background-position: 0 -32px;}
	.jcarousel-skin-rt .jcarousel-prev-vertical:active {background-position: 0 -64px;}
.jcarousel-skin-rt .jcarousel-prev-disabled-vertical,
.jcarousel-skin-rt .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-rt .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-rt .jcarousel-prev-disabled-vertical:active { cursor: default; background-position: 0 -96px; }