@import url("base.css");
@import url("skeleton.css");
@import url("icons.css");
@media (max-width: 600 px) {
	body {
		width: 97.5%;
	}
	.slider {
		display: none;
	}
}
body { background: url(../images/bg.png); font-family: 'Open Sans', sans-serif; font-weight:400; font-size:12px; color: #333; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; overflow-x: hidden; }
#wrapper { background: #fff; -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2); width: 100%; padding: 20px 0 0; margin: 0 auto; position: relative; }
#top-info{background-color:#2b2b2b; padding:3px 0 10px; width:100%; position:relative; z-index:99; }
#header { min-height: 50px; background-color: #ffffff; width: 100%; margin: 0 auto; -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4); }
#logo { margin: 10px 0; float: left; }
/* */
#navigation { display: block; width: 640px; min-height: 52px; float: right; }
	#navigation ul {float: right !important;}
	#navigation ul, #navigation li { list-style: none; padding: 0; margin: 0; display: inline; }
	#navigation ul li { float: left; position: relative;z-index: 9999; padding: 0px 0px; }
		#navigation ul li a { font-family: 'Titillium Web', sans-serif; font-weight: 400; display: inline-block; color: #5a5a5a; text-transform: uppercase; text-decoration: none; font-size: 14px; padding: 30px 15px 30px; }
			#navigation ul li a:hover { color: #ff4f00; background-color:#2b2b2b; }
		#navigation ul li:hover > a {color: #ff4f00; background-color:#2b2b2b;}
	#navigation ul ul { position: absolute; display: none; top: 76px; left: 0; background: #e6e6e6; z-index: 9999; }
		#navigation ul ul li a {color: #919191;}
			#navigation ul ul li a:hover {color: #fff;}
		#navigation ul ul li a { display: block; width: 150px; margin: 0; padding: 9px 18px; font-family: Arial, sans-serif; font-weight: normal; font-size: 12px; border-bottom: 1px solid #cacaca; background: none; }
		#navigation ul ul ul { position: absolute; top: 0px; left: 100%; z-index: 9999; }
			#navigation ul ul ul li a { border-bottom: 1px solid #cacaca !important; border-top: 1px solid transparent; background: none; }
		#navigation ul ul li:last-child a, #navigation ul ul li:last-child a:hover {border-bottom: 1px solid transparent}
		#navigation ul ul ul li:last-child a {border-bottom: 1px solid transparent !important}
	#navigation ul li:hover>ul { opacity: 1; position: absolute; top: 99%; left: 0; z-index: 9999; }
	#navigation ul ul li:hover>ul { position: absolute; top: 0; left: 100%; opacity: 1; z-index: 497; }
	#navigation ul li:hover > a {color: #ff4f00; background-color:#2b2b2b;}
	#navigation ul ul li:hover > a {color: #ff4f00; background-color:#2b2b2b;}
.selected { color: #ff4f00 !important; background-color:#2b2b2b !important;}
/* */
#contact-details { float: right; margin-top:10px; display: block; color:#9b9b9b; }
	#contact-details li { display: inline; padding-left: 10px; margin-left: 10px; }
		#contact-details li:first-child { border: none; margin-left: 0; padding: 0 }
	#contact-details i {margin-right: 4px;}
	#contact-details a {color: #9b9b9b;}
		#contact-details a:hover {color: #888;}
  /* */
 .banner-interno{background-color:#ff4f00; height:30px;}
  /* */
 hr{background-color: #e9e9e9; height:1px; border:0px;}
 /* */
 #page-title { border-bottom: 1px solid #e9e9e9; display: block; margin: 0 0 25px 0; }
	#page-title h2 { font-weight: normal; padding: 11px 0 11px 0; }
	#page-title span {color: #aaa;}
#bolded-line { text-indent: -9999px; height: 3px; width: 100px; display: block; background: #ff4f00; margin-bottom: -2px; }
/* */
.box{margin:20px 0 30px 0;}
.box p {margin-top: 15px;}
.box h3{ margin-bottom:20px; background:url(../images/line-h3.png) no-repeat bottom left; padding-bottom:10px;}
.box h3 span{color: #ff4f00;}
/* */

/* */
.produtos{margin:30px 0 0 0; list-style:none; padding:0px;}
.produtos li{float:left; width:31%; margin-right:10px; margin-bottom:5px;}
.produtos li:nth-child(3n+3){margin-right:0px;}

.bg-products{background-color:#f8f8f8; padding:35px 0; width:100%;}
.bg-products h3{color:#2b2b2b; margin-bottom:20px;}
.bg-products h3 span{color:#ff4f00;}
.item-description h5{border-bottom:solid 1px #ababab; padding-bottom:6px; margin-top:10px; margin-bottom:6px; font-size:12px;}
.item-description h5 a{color:#ff4f00; text-transform:uppercase; }
.picture {position: relative;}
	.picture img { width: 100%; height: auto; }
.image-overlay-link,
.image-overlay-zoom { height:70px; width:70px; left:50%; top:50%; margin:-35px 0 0 -35px; position: absolute; z-index: 40; display: none; background-color: #ff4f00; background: rgba(255, 79, 0, 0.7); background-repeat: no-repeat; background-position: 50%; cursor: pointer; }
.image-overlay-link {background-image: url(../images/overlay-icon-01.png);}
.image-overlay-zoom {background-image: url(../images/overlay-icon-02.png);}


/* */
.categorias li{margin-bottom:2px;}
.categorias li a {color: #333; background-color:#f2f2f2; display: block; padding:7px 0; padding-left: 12px; width:100%;}
.categorias li a:hover {color: #fff; background-color:#ff4f00;}
.categorias li a.selected {color: #fff; background-color:#ff4f00;}

/* */
.pagination {margin-bottom:30px;}
	.pagination li { padding: 5px 10px; border: 1px solid #ddd; display: inline-block; background: #fff; color: #888; margin-right: 1px; -webkit-box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1); box-shadow: 0px 1px 1px 0px rgba(180, 180, 180, 0.1); -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; -ms-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }
	.pagination li:hover{ background: #ff4f00; border: 1px solid #ff4f00; color: #fff; }
.pagination li.current { background: #ff4f00; border: 1px solid #ff4f00; color: #fff; }
/* */
.links-list li a { color: #a4a4a4; display: block; padding: 3px 0; padding-left: 12px; background: url(../images/links-list-arrow-01.png) no-repeat left 47%; }
.links-list-alt li a { color: #666; display: block; padding: 3px 0; padding-left: 12px; background: url(../images/links-list-arrow-02.png) no-repeat left 47%; }
.links-list li a:hover {color: #fff}
.links-list-alt li a:hover {color: #888}
.links-list li:first-child a, .links-list-alt li:first-child a {margin: -3px 0 0 0;}
/* */
.galeria{margin-top:30px;}
.galeria ul li{float:left; width:15%; margin-right:10px; margin-bottom:5px;}
.galeria ul li:last-child{margin-right:0px;}
.galeria ul li img{width:100%;}
/* Contato
====================================*/
.field textarea { max-width: 95%; min-width: 95%; height:190px; margin: 5px 0 15px 0; font-size:16px; background-color:#dedede; border:0; padding:0; text-indent:5px;}
.field input[type=text] { width: 95%; margin-bottom: 15px; font-size:16px; background-color:#dedede; border:0; padding:0; text-indent:5px; height:35px; line-height:35px;}
.field input[type=password] { width: 95%; margin-bottom: 15px; font-size:16px; background-color:#dedede; border:0; padding:0; text-indent:5px; height:35px; line-height:35px;}
.field:focus {border: 1px solid #ddd;}

.field2 input[type="text"] { width: 45%; margin-bottom: 15px; }
.field2:focus {border: 1px solid #ddd;}
.field2 label span {color: #ea1c1c;}

.info-contato{font-size:16px; line-height:24px; margin-top:20px; text-align:right;}

.fone{border-top:solid 1px #e9e9e9; padding:10px 0; margin-top:20px; text-align:right; font-size:28px; font-weight:700;}
.fone span{font-size:16px;}
/* */
#footer { background-color: #2b2b2b; width: 100%; padding: 15px 0 0; margin: 0 auto; color:#ffffff; }
#footer, #footer p, #footer a {color: #ffffff}
#footer .headline{background:url(../images/line-foot.png) repeat-x bottom; margin:0 0 10px 0; padding:0px; text-align:left; text-indent:0px;}
#footer .headline h4{font-weight:400; padding:10px 0px; color:#ffffff;}
#footer .social-icons { margin-top: 0px !important; margin-bottom: 10px; float:left; }
#footer .left{float:left; width:49%;}

#footer a:hover {color: #333;}
.no-margin {margin-top: 0;}
.footer-link { margin: 6px 0 5px; text-align: left; color: #4c4c4c; line-height: 20px; }
	.footer-link a {color: #4c4c4c}
	.footer-link a:hover {color: #ff4f00 !important;}
/* */
#footer-bottom { width:100%; text-align:center; margin-top: 15px; padding: 20px 0 15px;color:#ffffff;background:url(../images/line-foot.png) repeat-x top; }
	#footer-bottom a {color: #fff}
	#footer-bottom a:hover {color: #000;}
.ijust{float:right;}
/* */
.button, input[type="button"] { padding: 15px 25px; display: inline-block; border: 0px; font-family: 'Titillium Web', sans-serif; font-weight: 400; cursor: pointer; width: auto; -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; }
input[type="button"] {float: left;}
.button.medium { padding: 15px 25px; font-size: 14px; }
.button.gray { color: #fff; background: #444; }
	.button.gray:hover {background: #1172b9;}
.button.color { color: #fff; background: #ff4f00; }
	.button.color:hover {background: #aaa;}
	.navbar-toggler {
		/*padding: .25rem .75rem;*/
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		background-image: url("../images/icons/Hamburger_icon.svg.png");
		border: 1px solid transparent;
		border-radius: .25rem;}
/* */
input[type="button"] { color: #fff; background: #1172b9; }
	input[type="button"]:hover {background: #aaa}
/* */
.social-icons { margin: 0; float:right; margin: 5px 0px; }
	.social-icons.top { float: left; margin: 0px 0px 5px; }
	.social-icons li { display: inline; list-style: none; text-indent: -9999px; margin-left: 5px; float: left; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
		.social-icons li a { background-repeat: no-repeat; background-position: 0 0; display: block; height: 28px; width: 28px; }
		.social-icons li:hover {background-position: 0 -38px;}
/* */
#social a { width: 28px; height: 28px; margin: 0 6px 6px 0; display: block; float: left; text-indent: -9999px; background-position: 0 -38px; }
	#social a img {border: none;}
/* */
.amazon {background: url(../images/icons/social/amazon.png) no-repeat;}
.behance {background: url(../images/icons/social/behance.png) no-repeat;}
.blogger {background: url(../images/icons/social/blogger.png) no-repeat;}
.deviantart {background: url(../images/icons/social/deviantart.png) no-repeat;}
.dribbble {background: url(../images/icons/social/dribbble.png) no-repeat;}
.dropbox {background: url(../images/icons/social/dropbox.png) no-repeat;}
.evernote {background: url(../images/icons/social/evernote.png) no-repeat;}
.facebook {background: url(../images/icons/social/facebook.png) no-repeat;}
.facebook2 {background: url(../images/icons/social2/facebook.png) no-repeat;}
.forrst {background: url(../images/icons/social/forrst.png) no-repeat;}
.github {background: url(../images/icons/social/github.png) no-repeat;}
.googleplus {background: url(../images/icons/social/googleplus.png) no-repeat;}
.jolicloud {background: url(../images/icons/social/jolicloud.png) no-repeat;}
.last-fm {background: url(../images/icons/social/last-fm.png) no-repeat;}
.linkedin {background: url(../images/icons/social/linkedin.png) no-repeat;}
.picasa {background: url(../images/icons/social/picasa.png) no-repeat;}
.pintrest {background: url(../images/icons/social/pintrest.png) no-repeat;}
.rss {background: url(../images/icons/social/rss.png) no-repeat;}
.skype {background: url(../images/icons/social/skype.png) no-repeat;}
.spotify {background: url(../images/icons/social/spotify.png) no-repeat;}
.stumbleupon {background: url(../images/icons/social/stumbleupon.png) no-repeat;}
.tumblr {background: url(../images/icons/social/tumblr.png) no-repeat;}
.twitter {background: url(../images/icons/social/twitter.png) no-repeat;}
.twitter2 {background: url(../images/icons/social2/twitter.png) no-repeat;}
.vimeo {background: url(../images/icons/social/vimeo.png) no-repeat;}
.wordpress {background: url(../images/icons/social/wordpress.png) no-repeat;}
.xing {background: url(../images/icons/social/xing.png) no-repeat;}
.yahoo {background: url(../images/icons/social/yahoo.png) no-repeat;}
.youtube {background: url(../images/icons/social/youtube.png) no-repeat;}